.button {
  background-color: $light-accent;
  border: none;
  display: inline-block;
  text-decoration: none;
  transform: skewX(-$skew);
  padding: 1.5rem;
  width: auto;

  &__text, p {
    color: $main-dark;
    font-family: $font-default;
    font-size: 1rem;
    letter-spacing: 1.6px;
    margin: 0;
    transform: skewX($skew);
    text-transform: uppercase;
  }

  &:hover {
    cursor: pointer;
    filter: brightness(0.7);
    transform: perspective(1px) skewX(-$skew) scale(1.1);
  }
}

.link {
  color: $main-dark;
  &:hover {
    color: $main-dark;
  }
  &:active {
    color: $main-dark;
  }
}
