.button {
  background-color: $main-accent;
  border: none;
  display: inline-block;
  text-decoration: none;
  transform: skewX(-20deg);
  padding: 1.5rem;
  width: auto;

  p {
    color: $main-light;
    font-family: $font-default;
    font-size: 1rem;
    letter-spacing: 1.6px;
    margin: 0;
    transform: skewX(20deg);
    text-transform: uppercase;
  }
}
