.widget-footer {
  height: 95%;
  width: 100%;
  background: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  @include bp(medium) {
    height: 80%;
  }
  @include bp(small) {
    height: 835px;
  }

  h1.widget-title {
    text-align: center;
    font-size: 60px;
    margin-bottom: 0;
    @include bp(small) {
      margin-top: 4%;
    }
  }

  h4.footer-description {
    text-align: center;
    font-size: 18px;
    font-weight: lighter;
    letter-spacing: 0.41px;
    @include bp(medium) {
      padding-top: 2%;
      padding-bottom: 2%;
    }
    @include bp(small) {
      width: 90%;
    }
  }

  input.footer-email {
    width: 40%;
    height: 5%;
    margin: 0 auto;
    font-size: 14px;
    color: #000;
    padding-left: 1%;
    box-sizing: border-box;
    @include bp(medium) {
      width: 60%;
    }
    @include bp(small) {
      width: 90%;
      height: 7%;
      padding-left: 2%;
    }
  }

  ::placeholder {
    color: #000;
  }

  .footer-button {
    height: 7%;
    width: 15%;
    margin-top: 2%;
    background: $light-accent;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transform: skew(160deg);
    -moz-transform: skew(160deg);
    -o-transform: skew(160deg);
    webkit-backface-visibility: hidden;
    transition: all 0.2s ease-in-out;
    @include bp(medium) {
      width: 30%;
      height: 5%;
      margin-top: 5%;
    }
    @include bp(small) {
      width: 50%;
      height: 6%;
      margin-top: 5%;
    }

    &:hover {
      -webkit-transform: skew(160deg) scale(1.1);
      -moz-transform: skew(160deg) scale(1.1);
      -o-transform: skew(160deg) scale(1.1);
      cursor: pointer;
      filter: brightness(0.7);
    }

    p {
      transform: skew(-160deg);
      color: #000000;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  .social-media-icons {
    width: 40%;
    height: 3%;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    @include bp(medium) {
      width: 60%;
      height: 2%;
    }
    @include bp(small) {
      width: 90%;
      margin-top: 10%;
    }

    a {
      width: 10%;
      height: 100%;
      margin-right: 1%;
      margin-left: 1%;
      transition: all 0.2s ease-in-out;
      @include bp(medium) {
        margin-right: 2%;
        margin-left: 2%;
      }
      @include bp(small) {
        margin-right: 4%;
        margin-left: 4%;
      }

      &:hover {
        transform: scale(1.1);
        filter: brightness(0.7);
      }

      .facebook-icon,
      .google-icon,
      .instagram-icon,
      .linkedin-icon,
      .twitter-icon {
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 100%;
        height: 100%;
      }

      .facebook-icon {
        background-image: url("/themes/iplay/assets/images/social-media/005-facebook-logo.svg");
      }

      .google-icon {
        background-image: url("/themes/iplay/assets/images/social-media/004-google-plus.svg");
      }

      .instagram-icon {
        background-image: url("/themes/iplay/assets/images/social-media/002-instagram-logo.svg");
      }

      .linkedin-icon {
        background-image: url("/themes/iplay/assets/images/social-media/001-linkedin.svg");
      }

      .twitter-icon {
        background-image: url("/themes/iplay/assets/images/social-media/003-twitter-logo-silhouette.svg");
      }
    }
  }

  .site-map {
    width: 40%;
    box-sizing: border-box;
    height: 30%;
    margin-top: 5%;
    @include bp(medium) {
      width: 60%;
      margin-top: 10%;
    }
    @include bp(small) {
      width: 90%;
      margin-top: 10%;
    }

    .menu-menu-1-container {
      width: 100%;
    }

    .menu {
      display: flex;
      justify-content: center;
      margin: 0;
      width: 100%;
      height: 100%;
      padding-left: 0;
      @include bp(small) {
        flex-direction: column;
        align-items: center;
      }
    }

    .menu-item {
      @include bp(small) {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
      }
    }

    .menu-item:nth-child(2) {
      margin: 0 auto;
      @include bp(small) {
        margin-top: 10%;
      }
    }

    .menu-item:nth-child(3) {
      @include bp(small) {
        margin-top: 10%;
      }
    }

    ul {
      list-style-type: none;
    }

    a {
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 20px;
      cursor: default;
    }

    .sub-menu {
      padding-left: 0;
      margin-top: 30px;
      @include bp(small) {
        display: flex;
        align-content: center;
        flex-direction: column;
        margin-top: 0;
      }

      li {
        @include bp(small) {
          margin-right: 0 !important;
        }
      }

      .menu-item {
        margin-left: 0;
        margin-top: 20px;
      }

      a {
        color: #4A4A4A;
        text-transform: none;
        font-size: 18px;
        cursor: pointer;

        &:hover {
          color: $light-accent;
        }
      }
    }
  }

  p.copyright-text {
    font-size: 18px;
    letter-spacing: 0.81px;
    @include bp(small) {
      font-size: 14px;
      position: absolute;
      bottom: 0;
    }
  }
}