.wpforms-container {
  width: 80%;
  input, textarea {
    color: $main-dark;
    font-family: $font-default;
    font-size: 0.78rem;
    padding: 0.7rem 1rem;
    resize: none;
    @include bp(small) {
      width: 100%;
    };
  }

  .wpforms-title {
    @extend h2;
    text-align: center;
    margin-bottom: 2rem;
    @include bp(small) {
      margin-bottom: 1rem;
    };
  }

  .wpforms-one-half {
    @include bp(small) {
      margin: 0;
      padding: 10px 0;
      width: 100%;
    };
    &:last-of-type {
      padding-bottom: 0;
    }
  }
}

.wpforms-submit-container {
  display: flex;
  justify-content: center;
}

.wpforms-submit {
  @extend .button;
  padding: 1rem 4rem;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}
