.hero {
  background-color: $main-background;
  color: $main-light;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  &__content {
    @extend .container;
    text-align: center;
  }
  &__title {
    font-size: 4rem;
  }
  &__text {
    font-size: 1.8rem;
  }
}
