header {
  border-bottom: none;
}

.widget-hero-slider {
  background: $content-background;
  color: $main-background;
  height: 135%;
  width: 100%;
  overflow: hidden;

  .slider-change-container {
    width: 102%;
    height: 12%;
    display: flex;

    .first-button,
    .second-button,
    .third-button {
      height: 100%;
      width: 34%;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background: $main-background;
        color: $main-light;
        cursor: pointer;

        h3 {
          opacity: 1;
        }
      }

      h3 {
        transform: skew(20deg);
        font-size: 22px;
        opacity: 0.5;
      }
    }

    .first-button,
    .second-button {
      -webkit-transform: skew(-20deg);
      -moz-transform: skew(-20deg);
      -o-transform: skew(-20deg);
      webkit-backface-visibility: hidden;
    }

    .first-button {
      margin-left: -2%;

      &:hover {
        border-right: 10px solid $light-accent;
      }
    }

    .second-button {
      &:hover {
        border-right: 10px solid $light-accent;
        border-left: 10px solid $light-accent;
        box-sizing: border-box;
      }
    }

    .third-button {
      -webkit-transform: skew(-20deg);
      -moz-transform: skew(-20deg);
      -o-transform: skew(-20deg);
      webkit-backface-visibility: hidden;
      margin-right: -2%;

      &:hover {
        border-left: 10px solid $light-accent;
      }
    }
  }

  h1 {
    text-align: center;
    font-size: 48px;
    margin-top: 1%;
  }

  .current-slide-container {
    height: 100%;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;

    .hero-slider-mockup-container {
      height: 50%;
      width: 60%;
      float: left;
    }

    .mockup-text-container {
      height: 50%;
      width: 100%;

      .hero-slider-mockup-container {
        background-image: url("/themes/iplay/assets/images/two-screen-mockup.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        height: 100%;
      }

      .hero-slider-description-container {
        height: 85%;
        width: 40%;
        float: right;
        display: flex;
        align-items: center;
        letter-spacing: 0.41px;
        line-height: 40px;

        h4 {
          font-size: 22px;
          word-break: break-all;
        }
      }
    }

    .hero-slider-icon-container {
      width: 80%;
      height: 20%;
      border: 1px solid black;
      display: flex;
      margin: 0 auto;

      .hero-slider-left-icons-container,
      .hero-slider-right-icons-container {
        width: 50%;
        box-sizing: border-box;
        height: 100%;
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .first-icon-contain,
        .second-icon-contain {
          width: 75px;
          height: 75px;
          border: 1px solid black;
          background: $light-accent;
          border-radius: 50%;
        }

        .hero-slider-bottom-icon-container,
        .hero-slider-top-icon-container {
          width: 100%;
          height: 50%;
          display: flex;
          align-items: center;

          .first-icon-contain {}

          p {
            letter-spacing: 0.11px;
            line-height: 28px;
            font-size: 16px;
            margin-left: 5%;
            width: 75%;
          }
        }
      }
    }
  }
}