.iplay_widget_hero {
  background-image: linear-gradient(to bottom, rgba($main-accent, 0.2) 0%, #000000);
  color: $main-light;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  overflow: hidden;
  position: relative;

  @include bp(small) {
    height: 90vh;
  };

  @include bp(medium) {
    height: auto;
    padding: 10vh 0;
  };

  #stars {
    z-index: 0;
  }
}

.hero {
  @extend .container;
  position: relative;
  &__content {
    text-align: center;
  }
  &__title {
    @include bp(medium) {
      font-size: 2.5rem;
    };
  }
  &__text {
    font-size: 1.4rem;
    letter-spacing: 0.41px;
    line-height: 2.2rem;
    text-align: left;
    @include bp(small) {
      font-size: 1.2rem;
      text-align: center;
      padding: 0 1rem;
    };
    @include bp(medium) {
      font-size: 1.2rem;
      text-align: center;
    };
  }
  &.small {
    margin: 5rem 0;
    position: relative;
    text-align: center;
    width: 100%;
    @include bp(small) {
      margin-bottom: 2rem;
    };
    @include bp(medium) {
      margin-bottom: 2rem;
    };
  }
  &__contact {
    display: flex;
    justify-content: center;
    @include bp(small) {
      flex-direction: column;
    };
    div {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 1.5rem;
      @include bp(small) {
        margin: 0.5rem 0;
      };

      svg {
        height: 2rem;
        margin: 0 1.5rem;
        @include bp(medium) {
          margin: 0 1rem;
        };
          path {
          fill: $light-accent;
        }
      }
    }
  }
}
