header {
  border-bottom: none;
}

.widget-hero-slider {
  background: $content-background;
  color: $main-background;
  height: 135%;
  width: 100%;
  overflow: hidden;
  @include bp(small) {
    height: auto;
  }

  .slider-change-container {
    width: 102%;
    height: 12%;
    display: flex;
    @include bp(small) {
      height: 8%;
      width: 106%;
    }

    .first-button,
    .second-button,
    .third-button {
      height: 100%;
      width: 34%;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background: $main-background;
        color: $main-light;
        cursor: pointer;

        h4 {
          opacity: 1;
        }
      }

      h4 {
        transform: skew(20deg);
        opacity: 0.5;
        @include bp(small) {
          text-align: center;
          font-weight: normal;
          font-size: 16px;
        }
      }
    }

    .first-button,
    .second-button {
      -webkit-transform: skew(-20deg);
      -moz-transform: skew(-20deg);
      -o-transform: skew(-20deg);
      webkit-backface-visibility: hidden;
    }

    .first-button {
      margin-left: -4%;

      &:hover {
        border-right: 10px solid $light-accent;
      }

      h4 {
        @include bp(small) {
          width: 50%;
        }
      }
    }

    .second-button {
      &:hover {
        border-right: 10px solid $light-accent;
        border-left: 10px solid $light-accent;
        box-sizing: border-box;
      }

      h4 {
        @include bp(small) {
          width: 70%;
        }
      }
    }

    .third-button {
      -webkit-transform: skew(-20deg);
      -moz-transform: skew(-20deg);
      -o-transform: skew(-20deg);
      webkit-backface-visibility: hidden;
      margin-right: -2%;

      &:hover {
        border-left: 10px solid $light-accent;
      }
    }
  }

  h1 {
    text-align: center;
    font-size: 48px;
    margin-top: 1%;
    @include bp(small) {
      font-size: 42px;
    }
  }

  .current-slide-container {
    height: 100%;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
    @include bp(small) {
      padding-left: 0;
      padding-right: 0;
    }

    .hero-slider-mockup-container {
      height: 50%;
      width: 60%;
      float: left;
    }

    .mockup-text-container {
      height: 50%;
      width: 100%;

      .hero-slider-mockup-container {
        background-image: url("/themes/iplay/assets/images/two-screen-mockup.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        height: 100%;
        @include bp(small) {
          background-image: url("/themes/iplay/assets/images/two-screen-mockup-mobile.png");
          height: 65%;
          width: 100%;
        }
      }

      .hero-slider-description-container {
        height: 85%;
        width: 40%;
        float: right;
        display: flex;
        align-items: center;
        letter-spacing: 0.41px;
        line-height: 40px;
        @include bp(small) {
          width: 100%;
          height: 50%;
        }

        h4 {
          font-size: 22px;
          word-break: break-all;
          @include bp(small) {
            font-size: 18px;
            width: 100%;
            padding-left: 5%;
            padding-right: 5%;
            text-align: center;
          }
        }
      }
    }

    .hero-slider-icon-container {
      width: 80%;
      height: 20%;
      display: flex;
      margin: 0 auto;
      padding-left: 5%;
      @include bp(small) {
        width: 100%;
        height: 100%;
        padding-left: 0;
        flex-direction: column;
      }

      .hero-slider-left-icons-container,
      .hero-slider-right-icons-container {
        width: 50%;
        box-sizing: border-box;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include bp(small) {
          width: 100%;
        }

        .first-icon-contain,
        .fourth-icon-contain,
        .second-icon-contain,
        .third-icon-contain {
          width: 75px;
          height: 75px;
          border: 1px solid black;
          background: $light-accent;
          border-radius: 50%;
          background-position: center;
          background-size: 55%;
          background-repeat: no-repeat;
        }

        .first-icon-contain {
          background-image: url("/themes/iplay/assets/images/connect.svg");
        }

        .second-icon-contain {
          background-image: url("/themes/iplay/assets/images/camera.svg");
        }

        .third-icon-contain {
          background-image: url("/themes/iplay/assets/images/social-networks.svg");
        }

        .fourth-icon-contain {
          background-image: url("/themes/iplay/assets/images/notification.svg");
        }

        .hero-slider-bottom-icon-container,
        .hero-slider-top-icon-container {
          width: 100%;
          height: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          @include bp(small) {
            flex-direction: column;
          }

          p {
            letter-spacing: 0.11px;
            line-height: 28px;
            font-size: 16px;
            margin-left: 5%;
            width: 75%;
            text-align: center;
            @include bp(small) {
              margin-left: 0;
            }
          }
        }

        .hero-slider-left-icons-container {
          @include bp(small) {
            width: 100%;
            height: 100%;
            flex-direction: column;
            justify-content: center;
          }
        }
      }
    }
  }
}