header {
  height: 9%;
  background-color: $main-background;
  box-sizing: border-box;
  border-bottom: 1px solid $border-color;

  .site-logo {
    height: 100%;
    padding: 1% 1% 1% 2%;
    box-sizing: border-box;
    float: left;
    display: flex;
    align-items: center;

    a {
      height: 100%;
    }
  }

  .nav-menu {
    height: 100%;
    width: 550px;
    float: right;
    display: flex;
    align-items: center;
    padding: 0.5%;
    box-sizing: border-box;

    .menu-menu-1-container {
      padding-right: 5%;
    }

    .sub-menu {
      position: absolute;
      border: 1px solid $border-color;
      padding: 0.5% 8% 0.5% 0.5%;
      margin-top: 0.5%;
      background: $main-background;
      display: block;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: opacity 600ms, visibility 600ms;
      transition: opacity 600ms, visibility 600ms;

      &:hover {
        visibility: visible;
        opacity: 1;
      }

      li {
        padding: 5%;

        a {
          font-size: 14px !important;
          text-transform: none !important;
          margin-top: 20px !important;
        }
      }
    }

    ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;

      .menu-item a {
        color: $main-light;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 16px;
        margin: 10px;
        @include bp(medium) {
          font-size: 14px;
        }
        @include bp(small) {}

        &:hover {
          color: $main-accent;
        }

        &:hover + .sub-menu {
          visibility: visible;
          opacity: 1;
        }
      }

      .current_page_item a {
        color: $main-accent;
      }
    }

    .menu {}

    .get-app-container {
      height: 100%;
      width: 160px;
      min-width: 160px;
      background: $light-accent;
      display: flex;
      justify-content: center;
      align-items: center;
      -webkit-transform: skew(160deg);
      -moz-transform: skew(160deg);
      -o-transform: skew(160deg);
      webkit-backface-visibility: hidden;

      p {
        transform: skew(-160deg);
        color: #000000;
        font-weight: bold;
        text-transform: uppercase;
      }
    }

    .language-container {
      padding-left: 5%;

      .language-icon {
        width: 30px;
        height: 30px;
        border: 1px solid white;
        border-radius: 15px;
        background-image: url("/themes/iplay/assets/images/gb.svg");
        background-position: center;
        background-size: cover;
        border: none;
      }
    }
  }
}