header {
  position: absolute;
  width: 100%;
  height: 10%;
  box-sizing: border-box;
  border-bottom: 1px solid $border-color;
  z-index: 9999;

  .site-logo {
    height: 100%;
    padding: 1% 1% 1% 2%;
    box-sizing: border-box;
    float: left;
    display: flex;
    align-items: center;
    @include bp(small) {
      display: block;
    }

    a {
      height: 100%;
      z-index: 999;

      img {
        height: 100%;
      }
    }
  }

  .nav-menu {
    height: 100%;
    width: 330px;
    float: right;
    display: flex;
    align-items: center;
    padding: 0.5%;
    box-sizing: border-box;
    @include bp(small) {
      display: none;
    }
    @include bp(medium) {
      display: none;
    }

    .menu-menu-1-container {
      padding-right: 5%;
    }

    .sub-menu {
      position: absolute;
      border: 1px solid $border-color;
      padding: 0.5% 8% 0.5% 0.5%;
      margin-top: 0.5%;
      background: $main-background;
      display: block;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: opacity 600ms, visibility 600ms;
      transition: opacity 600ms, visibility 600ms;

      &:hover {
        visibility: visible;
        opacity: 1;
      }

      li {
        padding: 5%;

        a {
          font-size: 14px !important;
          text-transform: none !important;
          margin-top: 20px !important;
        }
      }
    }

    ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        z-index: 999;
      }

      .menu-item a {
        color: $main-light;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 16px;
        margin: 10px;
        @include bp(medium) {}
        @include bp(small) {}

        &:hover {
          color: $main-accent;
        }

        &:hover + .sub-menu {
          visibility: visible;
          opacity: 1;
        }
      }

      .current_page_item a {
        color: $main-accent;
      }
    }

    .get-app-container {
      height: 100%;
      width: 160px;
      min-width: 160px;
      background: $light-accent;
      display: flex;
      justify-content: center;
      align-items: center;
      -webkit-transform: skew(160deg);
      -moz-transform: skew(160deg);
      -o-transform: skew(160deg);
      webkit-backface-visibility: hidden;

      p {
        transform: skew(-160deg);
        color: #000000;
        font-weight: bold;
        text-transform: uppercase;
      }
    }

    .language-container {
      padding-left: 5%;

      .language-icon {
        width: 30px;
        height: 30px;
        border: 1px solid white;
        border-radius: 15px;
        background-image: url("/themes/iplay/assets/images/gb.svg");
        background-position: center;
        background-size: cover;
        border: none;
      }
    }
  }

  .mobile-menu {
    display: none;
    position: absolute;
    right: 1%;
    top: 10%;
    @include bp(small) {
      display: block;
    }
    @include bp(medium) {
      display: block;
    }

    .hamburger-box {
      z-index: 9999;
    }

    .mobile-sub-menu {
      display: none;
      position: fixed;
      top: 0;
      height: 100%;
      z-index: 999;
      width: 75%;
      background: $main-background;
      right: 0;

      ul {
        list-style-type: none;

        li {
          a {
            color: $main-accent;
          }
        }
      }
    }
  }
}