.widget-superuser {
  height: 90%;
  width: 100%;
  background-image: linear-gradient(-180deg, #5A3C8E 0%, #9577C9 100%);
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  @include bp(medium) {
    height: 85%;
  }
  @include bp(small) {
    overflow: hidden;
    height: 667px;
  }
  @include bp(landscape-mobile) {
    height: 130%;
  }

  #secondStars {
    height: 100%;
    width: 100%;
    position: absolute;
  }

  h1 {
    text-align: center;
    padding-top: 3%;
    margin: 0;
    position: relative;
    font-size: 52px;
    @include bp(small) {
      font-size: 38px;
    }
    @include bp(landscape-mobile) {
      font-size: 32px;
      padding-top: 0;
    }
  }

  .superusers-container {
    width: 60%;
    height: 60%;
    margin: 3% auto 0;
    display: flex;
    position: relative;
    min-width: 700px;
    @include bp(medium) {
      width: 95%;
      margin-top: 5%;
    }
    @include bp(small) {
      position: absolute;
      left: -9999px;
      right: -9999px;
      margin: 5% auto auto;
      width: 750px;
      height: 450px;
    }
    @include bp(landscape-mobile) {
      margin-top: 3%;
      width: 90%;
      height: 67%;
      min-width: inherit;
    }

    .first-superuser,
    .second-superuser,
    .third-superuser {
      width: 30%;
      height: 100%;
      background: #fff;
      box-sizing: border-box;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      position: relative;
      transition: all 0.3s;
      @include bp(small) {
        width: 2%;
      }

      &:hover {
        transform: perspective(1px) scale(1.1);
        cursor: pointer;
        @include bp(small) {
          transform: none;
        }
      }

      .superuser-picture {
        height: 40%;
        width: 100%;
        box-sizing: border-box;
        background-position: center;
        background-size: cover;
        position: relative;
      }

      .quote-icon {
        height: 50px;
        width: 50px;
        background: $main-accent;
        border-radius: 50%;
        position: absolute;
        bottom: -25px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;

        h1 {
          font-size: 40px;
          margin-top: 5px;
        }
      }

      .superuser-description {
        width: 80%;
        height: 30%;
        box-sizing: border-box;
        margin: 15% auto 0;

        p {
          color: #000;
          text-align: center;
          margin: 0;
          hyphens: auto;
          font-size: 12px;
        }
      }

      .superuser-name-team {
        width: 100%;
        height: 11%;
        box-sizing: border-box;
        position: absolute;
        bottom: 0;
        @include bp(landscape-mobile) {
          bottom: 2%;
        }

        h4,
        p {
          text-transform: uppercase;
          text-align: center;
        }

        h4 {
          color: $main-accent;
          font-size: 15px;
          margin: 0;
        }

        p {
          margin: 0;
          color: #ABABAB;
          font-size: 11px;
        }
      }
    }

    .first-superuser {
      @include bp(small) {
        margin-left: 20px;
      }

      .superuser-picture {
        background-image: url("/themes/iplay/assets/images/Victor-Tomas-testimonial.jpg");
      }
    }

    .second-superuser {
      margin: 0 auto;
      @include bp(small) {
        margin: 0 20px;
      }

      .superuser-picture {
        background-image: url("/themes/iplay/assets/images/Niclas-Ekberg-testimonial.jpg");
      }
    }

    .third-superuser {
      .superuser-picture {
        background-image: url("/themes/iplay/assets/images/Nathalie-Hagman-testimonial.jpg");
      }
    }
  }

  a {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    color: #fff;
    bottom: 3%;

    p {
      text-align: center;
      @include bp(medium) {
        font-size: 28px;
      }
      @include bp(landscape-mobile) {
        font-size: 14px;
      }
    }
  }
}