.user {
  display: flex;
  align-items: center;
  margin: 2rem 0;
  width: 100%;

  @include bp(small) {
    flex-direction: column;
    margin: 1rem 0;
  };
  @include bp(medium) {
    align-items: flex-start;
  };

  &__image {
    min-width: 30%;
    img {
      width: 100%;
    }
    @include bp(small) {
      width: 90%;
    };
  }

  &__info {
    padding: 1rem 5vw;

    h3 {
      text-align: left;
      text-transform: uppercase;
    }

    .span {
      margin: 0;
    }

    @include bp(small) {
      text-align: center;

      h3 {
        text-align: center;
      }

      .span {
        margin: 0;
      }
    };
    @include bp(medium) {
      padding: 1rem;
    };
  }

  &:nth-child(even) {
    flex-direction: row-reverse;

    @include bp(small) {
      flex-direction: column;
    };
  }
}
