* {
  outline: none;
}

html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: $main-background;
  color: $main-light;
}

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.content {
  background-color: $main-light;
  color: $main-dark;
  padding: 2rem 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  @include bp(small) {
    width: 100%;
  };
  @include bp(medium) {
    width: 80%;
  };
  @include bp(large) {
    width: 65%;
  };
  @include bp(x-large) {
    width: 50%;
  };
}
