:root {
  font-size: 18px;
}

$font-default: 'Helvetica Neue', 'Segoe UI', sans-serif;

body {
  font-family: $font-default;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-default;
}

h1 {
  font-size: 4.5rem;
  letter-spacing: 0.6px;
}

h2 {
  font-size: 3.3rem;
}

h3 {
  font-size: 2.2rem;
  margin: 0;
  text-align: left;
}

p {
  letter-spacing: 0.11px;
  line-height: 1.67rem;
}
