:root {
  font-size: 18px;
}
$font-default: 'Helvetica Neue', 'Segoe UI', sans-serif;

body {
  font-family: $font-default;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-default;
}

h1 {
  font-size: 4.5rem;
  letter-spacing: 0.6px;
  @include bp(small) {
    font-size: 2.6rem;
    text-align: center;
  };
}

h2 {
  font-size: 3.3rem;
}

h3 {
  font-size: 1.6rem;
  margin: 0;
  text-align: left;

  @include bp(small) {
    font-size: 1.3rem;
  };
}

h4 {
  font-size: 1rem;
}

p {
  letter-spacing: 0.11px;
  line-height: 1.67rem;
}

.span {
  font-size: 0.8rem;
  opacity: 0.5;
  text-transform: uppercase;
}
