:root {
  font-size: 16px; }

body {
  font-family: "Helvetica Neue", "Segoe UI", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Third Rail", "Helvetica Neue", "Segoe UI", sans-serif; }

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: #000000;
  color: #FAFAFA; }

.container {
  margin: auto; }
  @media (max-width: 767px) {
    .container {
      width: 100%; } }
  @media (max-width: 1250px) {
    .container {
      width: 80%; } }
  @media (min-width: 1250px) {
    .container {
      width: 60%; } }
  @media (min-width: 1600px) {
    .container {
      width: 50%; } }

header {
  height: 9%;
  background-color: #000000;
  box-sizing: border-box;
  border-bottom: 1px solid #4A4A4A; }
  header .site-logo {
    height: 100%;
    padding: 1% 1% 1% 2%;
    box-sizing: border-box;
    float: left;
    display: flex;
    align-items: center; }
    header .site-logo a {
      height: 100%; }
  header .nav-menu {
    height: 100%;
    width: 40%;
    float: right;
    display: flex;
    align-items: center;
    padding: 0.5%;
    box-sizing: border-box; }
    header .nav-menu .sub-menu {
      position: absolute;
      border: 1px solid #4A4A4A;
      padding: 0.5% 8% 0.5% 0.5%;
      margin-top: 0.5%;
      background: #000000;
      display: block;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: opacity 600ms, visibility 600ms;
      transition: opacity 600ms, visibility 600ms; }
      header .nav-menu .sub-menu:hover {
        visibility: visible;
        opacity: 1; }
      header .nav-menu .sub-menu li {
        padding: 5%; }
        header .nav-menu .sub-menu li a {
          font-size: 18px !important;
          text-transform: none !important;
          margin-top: 20px !important; }
    header .nav-menu ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0; }
      header .nav-menu ul .menu-item a {
        color: #FAFAFA;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 20px;
        margin: 10px; }
        header .nav-menu ul .menu-item a:hover {
          color: #3FBF55; }
        header .nav-menu ul .menu-item a:hover + .sub-menu {
          visibility: visible;
          opacity: 1; }
      header .nav-menu ul .current_page_item a {
        color: #3FBF55; }
    header .nav-menu .menu {
      padding-right: 5%; }
    header .nav-menu .get-app-container {
      height: 100%;
      width: 30%;
      background: #3FBF55;
      color: #FAFAFA;
      display: flex;
      justify-content: center;
      align-items: center; }
    header .nav-menu .language-container {
      margin-left: 6%; }
      header .nav-menu .language-container .language-icon {
        width: 30px;
        height: 30px;
        border: 1px solid white;
        border-radius: 15px;
        background-image: url("assets/images/gb.svg");
        background-position: center;
        background-size: cover;
        border: none; }

.user {
  display: flex;
  margin: 2rem 0; }
  .user__info {
    padding: 1rem; }
    .user__info h2, .user__info strong {
      text-transform: uppercase; }
  .user:nth-child(even) {
    flex-direction: row-reverse; }
